pipeline/pipeline_filter.json
{
	"name": "pipeline_filter",
	"properties": {
		"activities": [
			{
				"name": "Filter_json_files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetListFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListFiles').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetListFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ListFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "LoopJsonFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_json_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_json_files').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Learning_adf"
		},
		"annotations": []
	}
}